<h1>House <%= @members %></h1>
<p><%= @member_count %> Members</p>
<ul>
  <% @members.each do |member| %>
      <li>Name: <%= member.name %></li>
      <li> ID: <%= member.id %></li>
  <% end %>
</ul>
