<h1>House <%= facade.members %></h1>
<p><%= facade.member_count %> Members</p>
<ul>
  <% facade.members.each do |member| %>
      <li>Name: <%= member.name %></li>
      <li> ID: <%= member.id %></li>
  <% end %>
</ul>
